*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100vw;
    border: 1px solid;
    height: 500px;
    display: flex;
}

.current_image_container{
    width: 80%;
    border: 1px solid black;
    min-height: 100%;
    position: relative;
}
.current_image_container > img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-position: center;
    object-fit: cover;
    display: none;

}
.current_image_container > .text_section{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgb(255, 255, 255);
    text-align: right;
    display: none;
}

.image_list_container{
    border: 1px solid black;
    min-height: 100%;
    overflow: auto;
    width: 100%;
    height: 100%;
}
.arrow_container{
    width: 20%;
    position: relative;
    text-align: center;
}

.image_list_container > img{
    width: 100%;
}

/** mostro l'immagine, il titolo e il testo che hanno il current index */
img.display_block{
    display: inline-block;
}
.text_section.display_block{
    display: inline-block;
    
}


/** cereo le freccie di scorrimento delle immagini */
.arrow{
    background-color: rgba(0, 0, 0, 0.5);
    height: 30px;
    width: 100%;
    position: absolute;
    display: inline-block;
    color: white;
    line-height: 30px;
}
.upward_arrow{
    top: 0;
}
.downward_arrow{
    bottom: 0;
}
